.keyboard
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  width 50%;
  &-key
    margin: 5px !important;

.word
  width 50%;
  margin auto;

.hangman
  height 500px;
  width 50%;
  margin auto;
  svg
    height 100%;
    width 100%;

