.keyboard
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  width 90%;
  &-key
    margin: 5px !important;
    &.ok
      background-color #00A000

.word
  width 50%;
  margin auto;
  .button
    margin 1em;

.hangman
  height 420px;
  width 50%;
  margin auto;
  svg
    height 100%;
    position absolute;
    top -40px;
    width 50%;


