.keyboard
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 15px;
  width 90%;
  &-key
    margin: 5px !important;
    &.ok
      background-color #00A000

.word
  background:#008CBA;
  .button
    background: transparent;
    border-bottom: 2px solid white;
    margin: 5px
    font-size: 20px;
.hangman
  height 400px;
  width 50%;
  margin auto;
  svg
    height 100%;
    position absolute;
    top 85px;
    width 50%;
